<%- layout('layouts/boilerplate') %>

<h1><%= campground.title %></h1>
<img src="<%= campground.image %>" alt="">
<p><%= campground.location %></p>
<p><%= campground.description %></p>

<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button class="btn btn-sm btn-danger">Delete</button>
</form>
<footer>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    <a href="/campgrounds">All Campgrounds</a>
</footer>